$ltst-org: #FF9E64;
$lt-org: #FF8339;
$primary-org: #FF5F00;
$drk-org: #C64A00;
$drkst-org: #9B3A00;
$ltst-blue: #92E2F9; //rgb(146, 226, 249)
$lt-blue: #62D6F7;
$primary-blue: #39CDF5;
$drk-blue: #03B2E3; //rgb(3, 178, 227)
$drkst-blue: #015F79;

//CSS RESET
*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
  min-width: 768px;
}  

.hero{
  height: 550px;
  background: linear-gradient(180deg, rgba(255, 158, 100, 0.5),40%, rgba(0,0,0,0.8)), url('https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg')no-repeat;
  background-size: cover;
  margin: 0;
  border-bottom: 5px solid $drk-blue;
  
  .header{
    height: 60px;
    background-color: #000000;
    opacity: 0.85;
    border-bottom: 5px solid $primary-org;
    
        
    h2{
      height: 50px;
      margin: 0;
      padding: 0;
      color: #FFF;
      text-align: center;
      font: italic normal 2em Kanit;
    }
  }
  
  .profile-pic{
    img{
      position: relative;
      left: 43%;
      left: calc(50vw - 100px);
      border-radius: 50%; 
      border: 8px solid $ltst-blue;
      height: 200px;
      width: 200px;
      margin: 20px auto;
      z-index: 5;
    }
  }
  
  h1{
    width: 80%;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-shadow: 5px 5px 5px #333;
    font: bold 4em Kanit;
  }
  
  p{
    width: 80%;
    color: $primary-blue;
    margin: 10px auto;
    text-align: center;
    text-shadow: 5px 5px 5px #333;
    font: 2.2em Kanit; 
    font-weight: 300;
  }
}

.about-area {
  background: #D3D3D3;
  box-shadow: inset 0 12px 15px -7px rgba(0,0,0,0.7),
    inset 0 -12px 15px -7px rgba(0,0,0,0.7);
    
  h1{
    color: #000;
    text-align: left;
    font: bold 4em Kanit;
    padding: 15px 0px 0px 25px;
  }
  p{
    color: #000;
    text-align: left;
    font: 200 1.5em Kanit;
    padding-left: 25px;
    padding-bottom: 25px;
    text-indent: 50px;
  }
}

.tech-area{
  background: $primary-org;
  color: #FFF;
  border-top: 5px solid $drkst-blue;
  border-bottom: 5px solid $lt-blue;
  
  h1{
    font: bold 4em Kanit;
    padding: 15px 0px 0px 25px;
  }
  
  .tech-list{
    padding-left: 25px;
    margin-bottom: 35px;
    
    span{
      color: #FFF;
      text-align: left;
      font: 200 1.5em Kanit;
      padding-right: 8px; 
    }
    span strong{
      color: $drkst-blue;
      padding-left: 8px;
    }
  }
}

.check-me-out{
  background: #D3D3D3;
  box-shadow: inset 0 12px 15px -7px rgba(0,0,0,0.7),
    inset 0 -12px 15px -7px rgba(0,0,0,0.7);
  h1{
    color: #000;
    text-align: left;
    font: bold 4em Kanit;
    padding: 15px 0px 0px 25px;
  }
  li.social-media-link{
    display: inline-block;
    font: 1.8em Kanit;
    text-align: center;
    margin-left: calc(0% + 11%);
    margin-bottom: 50px;
    
    span, p{
      color: $drk-org;
      margin-bottom: 20px;
      font-size: 1.5em;
    }
    li{
      list-style-type: none;
      margin-top: 20px;
    }
    a{
      text-decoration: none;
    }
    
    .fa{
      font-size: 1.8em;
      color: $drkst-blue;
    }
  }
}

.personal-links{
  background: rgba(0,0,0,0.9);
  height: 425px;
  border-top: 5px solid $lt-org;
  border-bottom: 5px solid $drk-blue;
  div{
    display: inline-block;
    width: 48vw;
    margin-top: 20px;
    h1{
      color: #FFF;
      text-align: center;
      font: bold 4em Kanit;
      padding: 15px 0px 0px 25px;
      width: 100%;
      margin-bottom: 20px;
    }
    .shadow{
      position: relative;
    }
    .shadow:after {
      content: "";
      position: absolute;
      width: 400px;
      height: 200px;
      box-shadow: inset 0px 0px 10px 3px #000;
      margin-top: 0;
      left: calc(24vw / 2);
    }
    img{
      text-align: center;
      margin-left: calc(50% / 2);
      z-index: -1;
    }
  } 
  div:first-child{
    border-right: 5px solid #FFF;
    height: 90%;
  }
}

.footer{
  background: $drkst-blue;
  box-shadow: inset 0 12px 15px -7px rgba(0,0,0,0.7),
    inset 0 -12px 15px -7px rgba(0,0,0,0.7);
  p{
    color: #FFF;
    font: 200 1.5em Kanit;
    padding: 10px 0;
    text-align: center;
  }
}