
.hero
  .header
    h2 Brad Bales
  
  .profile-pic 
    img(src="https://pbs.twimg.com/profile_images/899474293024739330/HBMc9rmL_400x400.jpg")
    h1 Full-Stack Developer
    p Creating front-end environments with back-end solutions
  
.about-area
  h1 About Me:
  p Hello! My name is Brad Bales, and I am a full-stack web developer based out of Birmingham, AL. In early 2017, I decided it was time I made a career change and chose to pursue a field in which I felt more enthusiasm. My educational background provided me a Bachelor's in Science from the University of Alabama at Birmingham. While pursuing my degree and after completion, I worked in multiple professional settings from support to leadership roles, but I found myself wanting more out of my work. 
  p Through personal introspection and discussion among my friends and family, my efforts lead me to the Full-Stack program at my local college. Once starting the Full-Stack program, I knew instantly that I had a newfound passion. Since starting the program, I have continually sought to expand my knowledge of scripting and coding with the help of my instructors, experts in the field, and all the great scripting &amp; coding communities online. My insatiable thirst for knowledge has allowed me to quickly learn a good foundation in web development which I hope to put to good use with a future employer.
  p When I'm not working on broadening my grasp of scripting &amp; coding, I enjoy some of my other hobbies and passtimes which include playing guitar and piano, gaming, traveling, sports spectating, and socializing with friends. I always try to keep myself open to new opportunities in my professional life, so if you are interested in working with me, please feel free to contact me. I woud love to hear from you!   
  
.tech-area
  h1 Technical Skills:
  .tech-list
    span HTML5 
      strong |  
    span CSS3 
      strong | 
    span Javascript 
      strong | 
    span jQuery 
      strong | 
    span PHP 
      strong | 
    span MySQL 
      strong | 
    span Bootstrap 
      strong | 
    span SASS/SCSS  
      strong | 
    span Wordpress
      strong | 
    span Git/Github
      strong | 
    span Photoshop
      strong | 
    span MS Office
    
.check-me-out
  h1 Check me out at: 
  ul.social-media
    li.social-media-link
      a(href="#")
        span Codepen
        ul
          li.fa.fa-codepen
    li.social-media-link
      a(href="#")
        span Github
        ul
          li.fa.fa-github
    li.social-media-link 
      a(href="#")
        span Twitter
        ul
          li.fa.fa-twitter
    li.social-media-link
      a(href="#") 
        span Linkedin
        ul 
          li.fa.fa-linkedin

.personal-links
  div
    h1 Resum&eacute; 
    a(href="#").shadow
    img(src="http://placehold.it/400x200")
  div
    h1 Projects
    a(href="#").shadow
    img(src="http://placehold.it/400x200")
    
.footer
  p Copyright &copy; 2017 | Brad Bales | All Rights Reserved
      
  